@import 'variables';
@import 'mixins';

#videos{
  background-color:#181818;
  color:whitesmoke;
  .container{
    margin-top:50px;
  }
  iframe{
    display: block;
    border: none;
    width: 880px;
    margin: 0 auto;
    height: 500px;
    @include rwd(breakm){
      width:100%;
    }
  }
}